$main_white: #ddd;
$full_white: #fff;
$main_blue: #7fb2ec;
$main_background: #333;
$accounts_alias_background: #444;
$accounts_background: #525252;
$asset_box_background: #666;
$asset_box_border: #777;
$asset_box_guid: #999;
$main_red: #f55;
$main_green: #afa;
$title_color: #ccc;